/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
    transition: background-color 0.5s, color 0.5s;
}

.page-container {
    display: flex;
    height: 100vh;
}

.page01 {
    flex: 0 0 250px; /* Fixed width for the sidebar */
    background-color: #f4f4f4; /* Adjust as needed */
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; /* Prevent scrollbar */
}

.page02 {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100vh;
}

/* Container for layout */
.container {
    width: 80%;
    margin: 0 auto;
}

.asid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding-top: 2.25rem;
    padding-bottom: 2.5rem;;
    padding-right: 0.75rem;
    background-color: #F3F3F3;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: #F3F3F3;
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menu_sel_1 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #F2FED1;
    box-shadow: #191A23;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-width: 1px 1px 1px;
    border-style: solid solid solid;
    border-color: black;    
    border-left: 0;
    color: #000000;
    font-size: 1.5rem;
    font-family: cursive;
    padding: 0.5rem;
}
.lgt {
    margin-top: 3rem;
}



/* Header */
header {
    background-color: #f3f3f3;
    color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
    border-bottom: #000000 3px solid;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.1rem;
}

/* Main Content */
main {
    background-color: #F2FED1;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.9);
    margin: 20px;
}

main h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 1.1rem;
    display: block;
    margin-bottom: 5px;
}

input[type="file"],
button,
select {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 1em;
    transition: border-color 0.7s, background-color 0.3s;
}

select:hover {
    background-color: #ABF600;
    border-bottom: 2px solid #005103;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.9);
}

button {
    background-color: #42ab45;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #1c8207;
}

#resultFrame {
    display: none;
    width: 100%;
    height: 600px;
    border: none;
}

.large-text {
    font-size: 1.5em; /* Adjust the size as needed */
    line-height: 1.6;
}

.algorithm-title {
    font-size: 2em; /* Adjust the size as needed */
    font-weight: bold;
    color: #333; /* Adjust the color as needed */
    margin-bottom: 20px;
    text-align: center;
}

.container {
    padding: 20px;
}
.form-group {
    margin-bottom: 15px;
}
iframe {
    width: 100%;
    height: 600px;
    border: none;
    display: none;
    margin-top: 20px;
}
.reset-button {
    margin-top: 20px;
    display: none;
}

/* Footer */
footer {
    background-color: #f3f3f3;
    color: rgb(177, 168, 168);
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
    border-top: #000000 3px solid;
}

footer p {
    font-size: 1rem;
}

/* Dark Mode Styles */


.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.dark-mode .asid {
    background-color: #272727;
    border-color: #272727;
}

.dark-mode .menu_sel_1 {
    background-color: black;
    color: white;
    box-shadow: #191A23;
}

.dark-mode header {
    background: #222;
    border-bottom: #e8491d 3px solid;
}

.dark-mode header h1{
    color: greenyellow;
}

.dark-mode header p{
    color: greenyellow;
}

.dark-mode .algorithm-title {
    color: greenyellow;
}

.algorithm-title {
    color: black;
}

.dark-mode button {
    background: #000000;
}

.dark-mode button:hover {
    background: #ABF600;
}

.dark-mode main {
    background: #444;
}

.dark-mode footer {
    background: #222;
    border-top: #e8491d 3px solid;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}
