{% extends "base.html" %}

{% block title %}Dataset - ML Sandbox{% endblock %}

{% block page %}Data{% endblock %}

{% block message %}
    <!-- Welcome -->
    <main>
        <div class="instr">
            Currently, ML_SandBox includes a foundational set of data. We are diligently working to expand our data resources to provide a more comprehensive and valuable experience. Please stay tuned for updates as we continue to enrich the project with new and diverse data.</div>
    </main>
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <h2>Sample Dataset</h2>
        <ul>
            {% for dataset in datasets %}
                {% set dataset_name = dataset.rsplit('.', 1)[0] %}
                <li><a href="{{ url_for('download_file', filename=dataset) }}">{{ dataset_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}