<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML Sandbox</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>
    <div class="page-container">
        <div class="page01">
            <aside class="asid">
                <div>
                    <a href=""><img src="{{ url_for('static', filename='images/images.png') }}"></a>
                </div>
                <div class="menu">
                    <a href="/" class="{% if request.path == '/' %}active{% endif %}">
                        <div class="menu_sel_1"><p>Dashboard</p></div>                   
                    </a>
                    <a href="/data" class="{% if request.path == '/data' %}active{% endif %}">
                        <div class="menu_sel_1"><p>Data</p></div>                   
                    </a>    
                    <a href="https://github.com/Hritikraj8804/ML-Sandbox" target="_blank">
                        <div class="menu_sel_1"><p>Github</p></div>                   
                    </a>
                    <a href="/contact_us" class="{% if request.path == '/contact_us' %}active{% endif %}">
                        <div class="menu_sel_1"><p>Contact Us</p></div>                   
                    </a>
                </div>
                <div class="lgt">
                    <button type="button" class="logout-btn"> Logout</button>
                </div>
            </aside>
        </div>

        <div class="page02">
            <!-- Header -->
    <header>
        <div class="container">
            <h1>ML Sandbox: Run Your Algorithms</h1>
            <p>Upload your dataset and select an algorithm to process the data</p>
            <label class="switch">
                <input type="checkbox" id="themeToggle" onchange="toggleTheme()">
                <span class="slider round"></span>
            </label>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <div class="container">
            <h2>Choose Dataset</h2>
            
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 ML Sandbox | All Rights Reserved</p>
        </div>
    </footer>
        </div>
    </div>
</body>

</html>