{% extends "base.html" %}

{% block title %}How to Use - ML Sandbox{% endblock %}

{% block page %}How to Use{% endblock %}

{% block message %}
    <!-- Welcome -->
    <main>
        <div class="instr">
            This documentation provides detailed information on project setup, usage instructions, troubleshooting tips, and best practices. Refer to this document as you navigate and utilize the project.</div>
    </main>
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="markdown-content">
            {{ content|safe }}
        </div>
    </div>
</main>
{% endblock %}