{% extends "base.html" %}

{% block title %}ML Sandbox{% endblock %}

{% block page %}Dashboard{% endblock %}

{% block user_count %}
<div class="usercnt">
    <div class="usercnt1">
        <div class="usercnt11">
            <i class="fa-solid fa-users-viewfinder"></i>
            <p>visit count: </p>
        </div>
        <div class="usercnt12">
            {{ visit_count }}
        </div>
    </div>
</div>
{% endblock %}

{% block message %}
    <!-- Welcome -->
    <main>
        <div class="instr">
            Welcome to ML Sandbox! We're thrilled you're here. Explore our site and discover all we have to offer. We hope you'll find it helpful and engaging. Feel free to share it, star our <a href="https://github.com/Hritikraj8804/ML-Sandbox" target="_blank">GitHub repo</a>, and even contribute to our project!
        </div>
    </main>
{% endblock %}